[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pilgram = {editable = true,path = "."}
pytest = "*"
pytest-cov = "*"
flake8 = "*"
pillow = "*"
twine = "*"
wheel = "*"
pytest-benchmark = "*"
tox = "*"

[packages]
